*{
    margin: 0;
    padding:0;
    font-family: 'Source Code Pro', monospace;
}
:root{
    font-size: 16px;
}
@media (max-width:900px) {
    :root{
        font-size: 12px;
    }
}

body{
    background-color:rgb(0,0,0);
    /* overflow-x: hidden; */
    /* height:100%; */
}

nav{
    position: relative;
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:flex-start;
}

.nav-links{
    flex:1;
    text-align: center;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}
.nav-links ul li a:hover{
    color: purple;
}


.rect-container{
    height: auto;
    width: auto;
}
.title{
    margin-left: 20px;
    margin-bottom: 5%;
    text-align: left;
    max-width: 50%;
    min-width:300px;
}


.title.n{
    margin-left: auto;
    margin-bottom: 0;
}

.title h1{
    color: white;
    font-size: 3rem;    
    font-weight: 500;
}
  
 


.title h1{
    animation: text-fade 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.title h1.first{
    animation: text-fade 2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes text-fade{
    from {color:rgb(36,36,36)}
    to {color:white;}
}

.rect{
    position: fixed;
    z-index: -1;
    height:100%;
    width:14vw;
    opacity: 0%;
}   



.rect.a{
    left:10%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    background:linear-gradient(#fd746c,#DBD65C);
    transform: skew(-10deg);
}
.rect.b{
    left:30%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    animation-delay: 0.25s;
    background:linear-gradient(to top,  #DBD65C,#43cea2);
    transform: skew(-30deg);
}

.rect.c{
    left:65%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    animation-delay: 0.5s;
    background:linear-gradient(to bottom, #43cea2,#8360c3);
    transform: skew(40deg);  
}

@media (max-width:1300px) {
    .rect.c{
        transform: skew(35deg);
    }
}
@media (max-width:1200px) {
    .rect.c{
        transform: skew(30deg);
    }
}
@media (max-width:1050px) {
    .rect.c{
        transform: skew(20deg) ;
    }
}
@media (max-width:850px) {
    .rect.a{
        transform: skew(-5deg);
    }
    .rect.b{
        transform: skew(-25deg);
    }
    .rect.c{
        transform: skew(15deg) ;
    }
}
@media (max-width:770px) {
    .rect.b{
        transform: skew(-20deg);
    }
    .rect.c{
        transform: skew(10deg) ;
    }
}



@keyframes reveal {
    to {opacity: 100%;}
}

.skills{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 380px;
    width:100%;
}
.skills h1{
    padding:2% 0%;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    height: 60px;
    width: 100%;
}


.icon-container{
    display: flex;
    padding:2% 0%;
    height: max-content;
    justify-content: space-around;
    
}

.icon-list{
    flex: 1;
    text-align: center;   
}
.icon-list ul li{
    border-radius: 50%;
    border:5px solid transparent;
    box-shadow:  10px 10px 15px rgba(0,0,0,0.5);
    padding:1% 1%;
    list-style: none;
    display: inline-block;
    position: relative;
    width:90px;
    height: 90px;
    transition: 0.5s;   
}
.icon-list ul li:hover{
    border-radius: 20%;
}

li img {
    top:10%;
    position: relative;
    width:80px;
    height:80px;
}
img.c,img.cpp,img.js{
    width:70px;
}

.projects{
    width:100%;
    background: black;
}
.projects h1{
    color:white;
    padding: 1% 0%;
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    width: 100%;
}
.grid-container{
    display: grid;
    width:100%;
    height: 100%;
    grid-template-columns: 2fr 2fr 2fr;
    gap:1% 5%;
}
@media (max-width:1340px) {
    .grid-container{
        grid-template-columns: 2fr 2fr;
    } 
}
@media (max-width:850px) {
    .grid-container{
        grid-template-columns: 1fr;
        gap: 0%;
    }


}
.grid-container .grid-item{
    background: #272822;
    width: 350px;
    height: 350px;
    padding: 0 0;
    border-radius: 10px;
    border: 5px solid white;
    margin:auto;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.grid-item .front{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}
.front p{
    position: relative;
    top:15%;
    left:2%;
    font-size:18px;
    text-align: left;
    color:white;
}
.s1{
    color:#f92665;
}
.s2{
    color:orangered;
}
.s3{
    color:rgb(128, 218, 39);
}
.s4{
    color:khaki;
}
.s5{
    color:dimgray;
}
.grid-item .back{
    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.grid-item-1 .back{
    background-image: url("images/gifs/astar.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-2 .back{
    background-image:url("images/gifs/graph.gif");
}
.grid-item-3 .back{
    background-image:url("images/gifs/sudoku.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
.grid-item-4 .back{
    background-image:url("images/gifs/snake.gif");
}
.grid-item-5 .back{
    background-image:url("images/gifs/tic.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-6 .back{
    background-image:url("images/gifs/pixel.jpg");
    background-position: center;
}
.grid-item:active{
    transform: rotateY(180deg);
}


.grid-container .grid-item img{
    top:-17%;
}

.grid-container .grid-item img.a{
    width:165.5%;
    position: relative;
}
.grid-container .grid-item img.b{
    width:170%;
    position: relative;
}
.grid-container .grid-item img.c,img.d{
    width:350px;
    height: 350px;
}
.grid-container .grid-item img.e{
    position: relative;
    width: 100%;
    height: 100%;
}
.grid-container .grid-item img.f{
    position: relative;
    width:100%;
    height: 100%;
}
.socials{
    display: flex;
    justify-content: center;
    margin-top: 10%;
}
.socials .fa{
    flex:1;
    width:100%;
    height:100%;
    padding:0px 10px;
    font-size: 30px;
    color:white;
}

@media (max-width:850px) {
}


