*{
    margin: 0;
    padding:0;
    font-family: 'Source Code Pro', monospace;
    
}

body{
    background-color:rgb(0,0,0);
    overflow-x: hidden;
}

nav{
    display: flex;
    padding:2% 6%;
    justify-content: space-between;
    align-items:flex-start;
}

.nav-links{
    flex:1;
    text-align: center;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    /* font-family: Poppins; */
    font-size: 15px;
    font-weight: 500;
    transition: 0.5s;
}
.nav-links ul li a:hover{
    color: purple;

}

.title{
    position: relative;
    top:20%;
    left:5%;
    margin:0 0;
    text-align: left;
    width:600px;
}

.title.n{
    text-align: left;
    left:55%;
}

.title.n h1:nth-child(1){
    animation: text-fade 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.title.n h1:nth-child(2){
    animation: text-fade 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.title.n h1:nth-child(3){
    animation: text-fade 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    position: relative;
    height: 63px;
    width:600px;
    text-align: left;
    /* left:15%; */
}


.title h1{
    color: white;
    font-size: 50px;
    font-weight: 500;
}

.title h1:nth-child(1){
    animation: text-fade 2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.title h1:nth-child(2){
    animation: text-fade 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.title h1:nth-child(3){
    width: 600px;
    animation: text-fade 3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes text-fade{
    from {color:rgb(36,36,36)}
    to {color:white;}
}


.rect{
    margin:0;
    padding: 0;
    position: absolute;
    width:170px;
    height:100%;
    opacity: 0%;
}


.rect.a{
    top:0%;
    left:10%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    background:linear-gradient(#fd746c,#DBD65C);
    /* clip-path: polygon(100px 0,227px 0,227px 650px, 0 650px); */
    transform: skew(-10deg);
}
.rect.b{
    top:0%;
    left:30%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    animation-delay: 0.25s;
    background:linear-gradient(to top,  #DBD65C,#43cea2);
    transform: skew(-30deg);
}

.rect.c{
    top:0%;
    left:65%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    animation-delay: 0.5s;
    background:linear-gradient(to bottom, #43cea2,#8360c3);
    transform: skew(40deg);  
}

.rect.d{
    height:60%;
    top:100%;
    left:3.4%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    background:rgb(26,26,26);
    /* clip-path: polygon(100px 0,227px 0,227px 650px, 0 650px); */
    transform: skew(-10deg);
}
.rect.e{
    height: 60%;
    top:100%;
    left:7.8%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    animation-delay: 0.25s;
    background:rgb(36,36,36);
    transform: skew(-30deg);
}
.rect.f{
    height: 40%;
    top:100%;
    left:92.6%;
    animation: reveal 1s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards;
    animation-delay: 0.5s;
    background:rgb(46,46,46);
    transform: skew(40deg);
}


@keyframes reveal {
    to {opacity: 100%;}
}

.skills{
    background-color: white;
    position: absolute;
    top:100%;
    display: flex;
    flex-direction: column;
    height: 380px;
    width:100%;
}
.skills h1{
    padding:2% 0%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    height: 60px;
    width: 100%;
}


.icon-container{
    display: flex;
    padding:2% 0%;
    height: max-content;
    justify-content: space-around;
    
}

.icon-list{
    flex: 1;
    text-align: center;   
}
.icon-list ul li{
    border-radius: 50%;
    border:5px solid transparent;
    box-shadow:  10px 10px 15px rgba(0,0,0,0.5);
    padding:1% 1%;
    list-style: none;
    display: inline-block;
    position: relative;
    width:90px;
    height: 90px;
    transition: 0.5s;   
}
.icon-list ul li:hover{
    border-radius: 20%;
}

li img {
    top:10%;
    position: relative;
    width:80px;
    height:80px;
}
img.c,img.cpp,img.js{
    width:70px;
}

.projects{
    display:flex;
    flex-direction: column;
    position: absolute;
    top:160%;
    height: 100%;
    width:100%;
}
.projects h1{
    color:white;
    padding:2% 0%;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    height: 60px;
    width: 100%;
}
.grid-container{
    position: relative;
    left:1.5%;
    display: grid;
    width:max-content;
    height: min-content;
    grid-template-columns: 2fr 2fr 2fr;
    gap:10% 10%;
}

.grid-container .grid-item{
    /* background: linear-gradient(#FF0099,#493240); */
    background: #272822;
    width: 350px;
    height: 350px;
    padding: 0 0;
    border-radius: 10px;
    border: 5px solid white;
    
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.grid-item .front{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}
.front p{
    position: relative;
    top:15%;
    left:2%;
    font-size:18px;
    text-align: left;
    color:white;
}
.s1{
    color:#f92665;
}
.s2{
    color:orangered;
}
.s3{
    color:rgb(128, 218, 39);
}
.s4{
    color:khaki;
}
.s5{
    color:dimgray;
}
.grid-item .back{
    position: absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}
.grid-item-1 .back{
    background-image: url("images/gifs/astar.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-2 .back{
    background-image:url("images/gifs/graph.gif");
}
.grid-item-3 .back{
    background-image:url("images/gifs/sudoku.gif");
    background-repeat: no-repeat;
    background-size: contain;
}
.grid-item-4 .back{
    background-image:url("images/gifs/snake.gif");
}
.grid-item-5 .back{
    background-image:url("images/gifs/tic.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
.grid-item-6 .back{
    background-image:url("images/gifs/pixel.jpg");
    background-position: center;
}
.grid-item:active{
    transform: rotateY(180deg);
}

.grid-item

.grid-container .grid-item img{
    top:-17%;
}

.grid-container .grid-item img.a{
    width:165.5%;
    position: relative;
}
.grid-container .grid-item img.b{
    width:170%;
    position: relative;
}
.grid-container .grid-item img.c,img.d{
    width:350px;
    height: 350px;
}
.grid-container .grid-item img.e{
    position: relative;
    width: 100%;
    height: 100%;
}
.grid-container .grid-item img.f{
    position: relative;
    width:100%;
    height: 100%;
}
.socials{
    display: flex;
    position: relative;
    top:20%;
    left:45%;
    width:max-content;
    height: min-content;
}
.socials .fa{
    width:40px;
    height:40px;
    padding:5px 5px;
    font-size: 30px;
    color:white;
}



